.cat-main {
    text-align: center;
}

.cat-title{
    font-weight: bold;
    color: white;
}

.cat-list{
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cat-link {
    font-size: 1em;
    transition: color ease-in 0.1s;
  }
  
.cat-link:hover {
    color: #F2F2F2;
}

@media screen and (min-width: 640px) {
    .cat-list {
      display: list-item;      
    }
  
    .cat-list li::before {
      margin-right: 0.5em;
      font-size: 1em;
    }
  }